   {% load static %}
   <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Electronics
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Phones
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call:- <a href="#"> +91 780 182 5084</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a target="_blank" href="https://github.com/binidan/InfoTech">Source Code</a></li>
                            <li><a style="text-transform: lowercase;" href="https://github.com/binidan/InfoTech">github.com/binidan/InfoTech</a></li>
                            <!-- <li><a href="#">Contact Us</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div  class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img style="width:40%" src="{% static 'images/logo2.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div style="margin-left: -70px;" class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Categories</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        {% for category in categories %}
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">{{category.title}}</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    {% for child in category.children.all %}
                                                        <li><a href="#">{{child.title}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Hello {{request.user.first_name}}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'cart' %}">Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'orders' %}">My Orders</a></li>
                                <!-- <li><a href="wishlist.html">Wishlist</a></li> -->
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div style="margin-left: 20px;" class="attr-nav">
                    
                    <ul>
                        
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        {% if request.user.is_authenticated %}
                        <li class="">
                            <a href="{% url 'cart' %}">
						        <i class="fa fa-shopping-bag"></i>
                                <span id="order-count" class="badge">{{order_f.order_total_items}}</span>
					        </a>
                        </li>
                        {%else%}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <form method="GET" action="{% url 'shop' %}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input name="q" type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
            </form>
        </div>
    </div>
    <!-- End Top Search -->