{% extends 'main.html' %}
    {% load static %}
    {% block content %}
        <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        {% if order_exists %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr id="{{item.product.id}}">
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{{item.product.imageURL}}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
									{{item.product.name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>$ {{item.product.price}}</p>
                                    </td>
                                    <td style="align-items: center;" class="quantity-box">
                                        <div class="input-group quantity mx" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <button style="background-color: black;" data-product="{{item.product.id}}" data-action="remove" class="btn btn-sm btn-primary btn-minus update-cart" >
                                                <i class="fa fa-minus"></i>
                                                </button>
                                            </div>
                                            <input style="background-color: rgb(197, 196, 196);" type="text" class="form-control form-control-sm bg- border-0 text-center" id="quantity_{{item.product.id}}" value="{{item.quantity}}">
                                            <div class="input-group-btn">
                                                <button style="background-color: black;" data-product="{{item.product.id}}" data-action="add" class="btn btn-sm btn-primary btn-plus update-cart">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="total-pr">
                                        <p id="price_{{item.product.id}}">$ {{item.item_price}}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <a data-product="{{item.product.id}}" data-action="delete" class="update-cart btn-delete" href="#">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme" type="button">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <input value="Update Cart" type="submit">
                    </div>
                </div>
            </div> -->

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div id="order-price" class="ml-auto font-weight-bold"> $ {{order.order_price}} </div>
                        </div>
                        <div class="d-flex">
                            <h4>Discount</h4>
                            <div class="ml-auto font-weight-bold"> $ {{order.order_discount}} </div>
                        </div>
                        <hr class="my-1">
                        <!-- <div class="d-flex">
                            <h4>Coupon Discount</h4>
                            <div class="ml-auto font-weight-bold"> $ 10 </div>
                        </div> -->
                        <!-- <div class="d-flex">
                            <h4>Tax</h4>
                            <div class="ml-auto font-weight-bold"> $ 2 </div>
                        </div> -->
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> $4 </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div id="total-price" class="ml-auto h5"> $ {{order.total_price}} </div>
                        </div>
                        <hr> </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}" class="ml-auto btn hvr-hover">Checkout</a> </div>
            </div>

        </div>
        {% else %}
        <div class="container">
            <h2>Your cart is empty <a style="color: coral;" href="{% url 'shop' %}">click here </a> to go to shopping page</h2>
        </div>
        {% endif %}
    </div>
    <!-- End Cart -->
    {% endblock content %}