{% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static 'images/ban3.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> InfiTech</strong></h1>
                            <p class="m-b-40">This is our DataBase Management System Group Project <br></p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/ban2.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> InfiTech</strong></h1>
                            <p class="m-b-40">This is our DataBase Management System Group Project <br></p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'images/ban1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> InfiTech</strong></h1>
                            <p class="m-b-40">This is our DataBase Management System Group Project <br></p>
                            <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                {% for category in categories_h %}
                    {% if category.product_set.all.count != 0 %}
                    <div  class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div style="height:400px" class="shop-cat-box">
                            <img style="width:100%; height: 100%;" class="img-fluid" src="{{category.product_set.first.imageURL}}" alt="" />
                            <a class="btn hvr-hover" href="#">{{category.title}}</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Featured Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            {% for category in categories %}
                                    <button data-filter=".{{category.slug}}">{{category.title}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for category in categories_h %}
                {% if category.product_set.all.count > 0 %}
                {% for product in category.product_set.all %}
                <div class="col-lg-3 col-md-6 special-grid {{category.parent.slug}}">
                    <div class="products-single fix">
                        <div style="height: 400px;" class="box-img-hover">

                            <img style="height:100%; width: 100%;" src="{{product.imageURL}}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h3><strong>{{product.name}}</strong></h3>
                            <div class="flex">
                                <h5 style="color: brown;"> ${{product.price}}</h5>
                                <h6> <del>${{product.total_cost}}</del></h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            {% for category in categories_h %}
            {% for product in category.product_set.all %}
            <div class="item">
                <div class="ins-inner-box">
                    <img src="{{product.imageURL}}" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- End Instagram Feed  -->
    {% endblock content %}